<h1><%= @post.title %></h1>

<div>
  <%= @post.body %>
</div>
<br />

<% if @post.image %> <%= image_tag @post.image, style: "width: 200px; display:
block" %> <% end %> <%= link_to "Edit Post", edit_post_path(@post) %>

<br />
<%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm:
"are you sure"} %>
